recursive-include test *
recursive-exclude ontquery *

include ontquery/__init__.py
include ontquery/exceptions.py
include ontquery/plugin.py
include ontquery/plugins/__init__.py
include ontquery/plugins/namespaces/__init__.py
include ontquery/plugins/namespaces/nifstd.py
include ontquery/plugins/services/__init__.py
include ontquery/plugins/services/auth-config.py
include ontquery/plugins/services/interlex_client.py
include ontquery/plugins/services/interlex_session.py
include ontquery/plugins/services/interlex.py
include ontquery/plugins/services/rdflib.py
include ontquery/plugins/services/scigraph.py
include ontquery/plugins/services/scigraph_client.py
include ontquery/query.py
include ontquery/services.py
include ontquery/terms.py
include ontquery/trie.py
include ontquery/utils.py

include ontquery/plugins/namespaces/nifstd.py
include ontquery/plugins/services/scigraph_client.py

exclude .gitignore
exclude .travis.yml
exclude MANIFEST.in

recursive-exclude * *.pyc
recursive-exclude * *.swp
recursive-exclude * *.swo
